body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: Calculator;
  src: url('./assets/fonts/Calculator.ttf');
}
.container-guay {
  max-width: 800px;
  padding-bottom: 20px;
  margin: 0 auto;
}

#marcador {
  font-family: Calculator;
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
}
#marcador > p{
  margin: 0;
}
#cajaControles {
  margin-top: 30px;
}
#cajaResultados {
  text-align: center;
}
.content-controls{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 250px;
  margin: 0 auto;
  padding-top: 1.3rem;
  grid-gap: 0.3rem;
}
.btn {
  display: block;
  padding: 0.3rem 0.3rem;
  border: none;
  background: #000000c7;
  color: #ffffff;
  font-size: 1.1rem;
  border-radius: 1.5rem;
}
/*#cancelar{
background: #6c2c2c;
}
#marcar{
background: #417e36c7;
}*/
button#comenzar.btn + button#pausar.btn {
  margin-top: 0px;
}
.icon-reload{
  
}
.content-timers{
  max-width: 200px;
    margin: 0 auto;
}
.item-timer{
  display: grid;
  grid-template-columns: 30px auto 50px;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 0.3rem;
  align-items: center;
  color: #00000085;
}
.item-timer > span:nth-child(2){
  text-align: left;
}
.btn-delete{
  background: #d44;
}